{
    "plugins": [
        "@babel/plugin-transform-typescript",
        "@babel/plugin-syntax-top-level-await",
        "@babel/plugin-transform-modules-commonjs"
    ],
    "presets": ["@babel/preset-env"]
}
